@font-face {
    font-family:"Montserrat";
    src: url("../../Assets/Montserrat-VariableFont_wght.ttf");
}
  
@font-face{
    font-family: "Montserrat SemiBold";
    src:url("../../Assets/Montserrat-SemiBold.ttf");
}
  

@font-face{
    font-family: "Montserrat Medium";
    src:url("../../Assets/Montserrat-Medium.ttf");
}

body{
  overflow: hidden;
}

.maincontain{
    font-family: 'Montserrat' , sans-serif;
    color:white;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.carousecontainer{
    font-family: 'Montserrat' , sans-serif;
    color:white;
    margin: 0 auto;
    text-align: center;
    background-color:rgba(255, 255, 255, 0);
    height:37rem;
    width:65rem;
    border-radius:0.7em;
    margin-top: 5em;
}

.carouse{
    font-family: 'Montserrat' , sans-serif;
    color:white;
    margin: 0 auto;
    text-align: center;
    width: auto;
    height:40em;
    border-radius: 0.7em;
}

.carousecontent{
    height: 100%;
    width:fit-content;
    border-radius: 0.7em;
}

.card {
    width: 100%;
    height:35em;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 0.7em;
  }
  
  .content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    background: rgb(108,13,0);
    background: -moz-linear-gradient(131deg, rgba(108,13,0,1) 0%, rgba(87,11,0,1) 64%, rgba(50,0,0,1) 100%);
    background: -webkit-linear-gradient(131deg, rgba(108,13,0,1) 0%, rgba(87,11,0,1) 64%, rgba(50,0,0,1) 100%);
    background: linear-gradient(131deg, rgba(108,13,0,1) 0%, rgba(87,11,0,1) 64%, rgba(50,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c0d00",endColorstr="#320000",GradientType=1);
    padding: 26%;
    margin: 0 auto;
    transform-style: preserve-3d;
    border-radius: 1em;
  }
  
  .card:hover .content {
    transform: rotateY(0.5turn);
  }
  
  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    text-align: center;
    padding-top: 6em;
  }

  .back{
    text-align: center;
    padding: 4em 5em;
    font-size: 1.2em;
    height: 100%;
  }
  
  .title {
    transform: translateZ(5rem);
    font-size: 2rem;
  }
  
  .subtitle {
    transform: translateZ(2rem);
    opacity: 1;
  }

  .speakpic{
    width:19.5%;
    height:46%;
    border: solid;
    border-radius:100%;
    text-align: center;
    margin: 0 auto;
  }
  
  .back {
    transform: rotateY(0.5turn);
    background-color: #ad000000;
  }
  
  .description {
    transform: translateZ(3rem);
    opacity: 1;
  }

 