@font-face {
  font-family:"Montserrat";
  src: url("../../Assets/Montserrat-VariableFont_wght.ttf");
}

@font-face{
  font-family: "Montserrat SemiBold";
  src:url("../../Assets/Montserrat-SemiBold.ttf");
}


@font-face{
  font-family: "Montserrat Medium";
  src:url("../../Assets/Montserrat-Medium.ttf");
}

.animate__animated.animate__fadeIn {
  --animate-delay: 0.5s;
}

.maincontainer{
    font-family: 'Montserrat' , sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }

.carouselbox{
    background-color:rgba(255, 255, 255, 0.216);
    height:37rem;
    width:25rem;
    border-radius:0.7em;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
}

.carouse{
  height:100%;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  padding-top:1em;
}

.carousecontent{
  height: 100%;
  width:fit-content;
}

.card {
  width: 10.8em;
  height: 16em;
  background: #530008cd;
  border-radius: 0.5em;
  text-align: center;
  color: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  padding-top:0.5em;
  margin: 0 auto;
}

.img {
  display: flex;
  margin: 5em auto 4em auto;
  width: 8em;
  height: 8em;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 99;
  background-color: #152f50;
}

p {
  opacity: 0;
  transition: all 0.5s;
}

.heading {
  padding: 0;
  font-weight: 600;
  font-size: 1.2em;
  transition: all 0.5s;
}

.designation{
  padding: 0;
  margin-top: 1.7em;
  font-weight: 400;
  font-size: 0.7em;
  transition: all 0.5s;
}

.know{
  text-align: center;
  font-size: 0.7em;
}

svg{
  padding: 0 5px;
  cursor: pointer;
}

.card:hover .img {
  transform: scale(1.4);
  border: 1px solid #f0f0f0;
}

.card:hover .designation {
  transform: scale(1.2);
  font-size: 0.8em;
}

.card:hover .heading,
.card:hover p {
  opacity: 1;
  transform: scale(1.2);
  font-size: 1.29em;
}

